<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../utils/head', { title: 'Contacto' }) %>
  </head>

  <body>
    <%# -- Global Navbar -- %>
    <%- include('../components/navbar') %>
    
    <%# -- Main -- %>
    <main class="container d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-primary text-uppercase text-center mt-5">Contacto</h1>
      <a
        class="btn btn-outline-primary btn-lg d-flex justify-content-center align-items-center m-2"
        data-mdb-ripple-init
        href="mailto:gustavoengers6441@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        style="width: 27vw;"
      >
        <iconify-icon icon="basil:gmail-solid" style="padding-right: 0.5rem;" class="icon-button-icon"></iconify-icon>
        Correo
      </a>
      <a
        class="btn btn-outline-primary btn-lg d-flex justify-content-center align-items-center m-2"
        data-mdb-ripple-init
        href="https://api.whatsapp.com/send/?phone=5493754499497&text=Hola%2C+te+contacto+desde+tu+Portfolio%21&type=phone_number&app_absent=0"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        style="width: 27vw;"
      >
        <iconify-icon icon="ic:outline-whatsapp" style="padding-right: 0.5rem;" class="icon-button-icon"></iconify-icon>
        Whatsapp
      </a>
      <div class="d-flex align-items-center justify-content-center">
        <form id="contact-form" style="width: 26rem" class="mb-2 p-5 rounded-8 text-center">
          <h3 class="text-primary w-100 text-center text-uppercase">Deje su mensaje</h3>
          <!-- Name input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form4Example1" name="name" class="form-control" minlength="3" required />
            <label class="form-label" for="form4Example1">Nombre</label>
          </div>
  
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form4Example2" name="email" class="form-control" required />
            <label class="form-label" for="form4Example2">Email</label>
          </div>
  
          <!-- Message input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" name="message" minlength="10" rows="4" required></textarea>
            <label class="form-label" for="form4Example3">Mensaje</label>
          </div>
  
          <!-- Submit button -->
          <button data-mdb-ripple-init id="contact-submit-button" type="submit" class="btn btn-outline-primary btn-lg btn-block mb-4" disabled>
            Enviar
          </button>
        </form>
      </div>
    </main>

    <%# -- Global Footer -- %>
    <%- include('../components/footer') %>

    <%# -- Global Scripts -- %>
    <%- include('../utils/scripts') %>

    <script>
      const form = document.getElementById('contact-form');
      const nameInput = document.getElementById('form4Example1');
      const emailInput = document.getElementById('form4Example2');
      const messageInput = document.getElementById('form4Example3');
      const button = document.getElementById('contact-submit-button');

      let nameValue = '';
      let emailValue = '';
      let messageValue = '';

      function checkDisabled() {
        if (!nameInput.validity.valid || !emailInput.validity.valid || !messageInput.validity.valid) {
          button.disabled = true;
        } else {
          button.disabled = false;
        }
      }

      nameInput.addEventListener('input', (event) => {
        nameValue = event.target.value;
        checkDisabled();
      });
      emailInput.addEventListener('input', (event) => {
        emailValue = event.target.value;
        checkDisabled();
      });
      messageInput.addEventListener('input', (event) => {
        messageValue = event.target.value;
        checkDisabled();
      });

      form.addEventListener('submit', (event) => {
        event.preventDefault();

        button.outerHTML = `
          <div id="contact-submit-button" class="spinner-border text-primary text-center" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        `

        fetch('/api/contact', {
          method: 'POST',
          body: new URLSearchParams({
            name: nameValue,
            message: messageValue,
            email: emailValue
          })
        })
        .then((res) => {
          if(!res.ok) throw new Error('Failed fetch');
          res.json();
        }).then((res) => {
          const button = document.getElementById('contact-submit-button');
          button.outerHTML = `<p class="text-primary">Mensaje Enviado</p>`;
        }).catch((err) => {
          const button = document.getElementById('contact-submit-button');
          button.outerHTML = `<p class="text-danger">Error al enviar el mensaje. ¡Inténtalo más tarde!</p>`;
        })
      })
    </script>
  </body>
</html>
