<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Gustavo Engers - Inicio</title>
    <%- include('../utils/styles') %>
    <style>
      main {
        width: 100%;
        min-height: 90vh;
      }

      section {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('/public/img/fondo.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      h1 {
        font-size: 5rem;
        color: #05f5d9;
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
      }

      h2 {
        font-size: 2rem;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <%- include('../components/navbar') %>
    <main>
      <section>
        <h1>Gustavo Engers</h1>
        <h2>Desarrollador Web</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum in dolores rerum, ab repellat, inventore,
          et cum eos provident ex sit modi vero alias! Architecto culpa soluta amet inventore eaque!
        </p>
      </section>
    </main>
  </body>
</html>
