<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../utils/head', { title: 'Proyectos' }) %>
  </head>

  <body>
    <%# -- Global Navbar -- %>
    <%- include('../components/navbar') %>
    
    <%# -- Main -- %>
    <main id="project-container" class="container text-center">

      <div id="loader-container" class="text-center d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-primary fs-1 text-uppercase">Cargando</h1>
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

    </main>

    <%# -- Global Footer -- %>
    <%- include('../components/footer') %>
    
    <%# -- Global Scripts -- %>
    <script src="/public/project.js"></script>
    <%- include('../utils/scripts') %>
  
  </body>
</html>
