.container {
  font-family: 'Syne';
  width: 100%;
  display: flex;
}

.container_one {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_one button {
  border: 2px solid var(--letter);
  height: 40px;
  width: 40px;
  background: none;
  border-radius: 25px;
}

.container_one button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.container_one span {
  font-size: 40px;
  color: var(--letter-style);
}

.container_two {
  width: 50%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container_two span {
  font-size: 20px;
  min-height: 100%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_two span a {
  text-decoration: none;
  color: var(--letter);
}

@media (max-width: 900px) {
  .container_one span {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_one {
    width: 100%;
  }

  .container_one span {
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .container_two {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
