<header class="nav-bar">
  <nav>
    <li>
      <a
        id="filter-0"
        href="/proyectos"
        class="btn-filter"
        title="Ver todos los proyectos"
        >Todos</a
      >
    </li>
    <li>
      <a
        id="filter-1"
        href="/proyectos/full-stack"
        class="btn-filter"
        title="Ver proyectos full-stack"
        >Full-Stack</a
      >
    </li>
    <li>
      <a
        id="filter-2"
        href="/proyectos/back-end"
        class="btn-filter"
        title="Ver proyectos back-end"
        >Back-End</a
      >
    </li>
    <li>
      <a
        id="filter-3"
        href="/proyectos/front-end"
        class="btn-filter"
        title="Ver proyectos front-end"
        >Front-End</a
      >
    </li>
    <li>
      <a
        id="filter-4"
        href="/proyectos/otros"
        class="btn-filter"
        title="Ver otros proyectos"
        >Otros</a
      >
    </li>
  </nav>
</header>
