<header class="nav-bar">
  <nav>
    <a href="/" class="btn-home" title="Ver Inicio">GusEngers Dev</a>
    <menu class="list">
      <li>
        <a id="nav-1" href="/proyectos" class="btn-list" title="Ver proyectos"
          >Proyectos</a
        >
      </li>
      <li>
        <a id="nav-2" href="/sobre-mi" class="btn-list" title="Ver Sobre Mí"
          >Sobre Mí</a
        >
      </li>
      <li>
        <a id="nav-3" href="/contacto" class="btn-list" title="Ver Contacto"
          >Contacto</a
        >
      </li>
    </menu>
  </nav>
</header>
