<section id="about">
  <h1 class="title">Sobre Mí</h1>
  <section class="about_container">
    <section class="about_1">
      <h2 class="subtitle">Formación y Certificados</h2>
      <ul>
        <li>
          <h3>Desarrollo Web Full-Stack</h3>
          <p>Henry Bootcamp</p>
          <span>Jul. 2022 - Nov. 2022</span>
        </li>
        <li>
          <h3>Certificación en Javascript</h3>
          <p>OpenBootcamp</p>
          <a
            href="https://community.open-bootcamp.com/user/gusengers/certificaciones/49d13051-3e72-4927-8ae7-7f2b81dd481a"
            target="_blank"
            rel="noopener noreferrer"
            >Credencial</a
          >
        </li>
        <li>
          <h3>Certificación en Angular</h3>
          <p>OpenBootcamp</p>
          <a
            href="https://community.open-bootcamp.com/user/gusengers/certificaciones/cffd0ba7-9e8e-4929-b2dc-81f4d8b2ac3a"
            target="_blank"
            rel="noopener noreferrer"
            >Credencial</a
          >
        </li>
        <li>
          <h3>Certificación en Typescript</h3>
          <p>OpenBootcamp</p>
          <a
            href="https://community.open-bootcamp.com/user/gusengers/certificaciones/4d186bef-d375-4a42-8dfc-3bdce475606e"
            target="_blank"
            rel="noopener noreferrer"
            >Credencial</a
          >
        </li>
        <li>
          <h3>Certificación en Python</h3>
          <p>OpenBootcamp</p>
          <a
            href="https://community.open-bootcamp.com/user/gusengers/certificaciones/cd565257-4a3f-4b55-acd8-f924dec8466a"
            target="_blank"
            rel="noopener noreferrer"
            >Credencial</a
          >
        </li>
      </ul>
    </section>
    <section class="about_2">
      <section class="child">
        <h2 class="subtitle">Experiencia</h2>
        <ul>
          <li>
            <h3>Desarrollo Web Full-Stack</h3>
            <p>Proyecto Grupal Henry Bootcamp</p>
            <span>Oct. 2022 - Nov. 2022</span>
          </li>
          <li>
            <h3>Desarrollo Web Full-Stack</h3>
            <p>Proyecto Individual Henry Bootcamp</p>
            <span>Sep. 2022 - Oct. 2022</span>
          </li>
        </ul>
      </section>
      <section class="child">
        <h2 class="subtitle">Idiomas</h2>
        <ul>
          <li>
            <h3>Español</h3>
            <p>Nativo</p>
          </li>
          <li>
            <h3>Portugés</h3>
            <p>Lectura y conversación</p>
          </li>
        </ul>
      </section>
    </section>
    <section class="about_3">
      <h2 class="subtitle">Tecnologías</h2>
      <app-techs></app-techs>
    </section>
  </section>
</section>
