.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 70px;
  width: 50vw;
  text-align: center;
}

.title b {
  color: #15ffff;
}

@media (max-width: 900px) {
  .title {
    font-size: 40px;
    width: 100%;
  }
}
