<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('__components/global-head', { title: 'GusEngers - Error' }) %>
  </head>
  <body>
    <h1><%= error %></h1>

    <!-- Scripts -->
    <%- include('__components/global-scripts') %>
  </body>
</html>
