<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('__components/global-head', { title: 'GusEngers - 404' }) %>
  </head>
  <body>
    <h1>Ruta inexistente</h1>
    <a href="/">Volver al inicio</a>

    <!-- Scripts -->
    <%- include('__components/global-scripts') %>
  </body>
</html>
