header {
  width: 100%;
  background-color: var(--bg-color-1);
  text-align: right;
  height: calc(var(--text-size-subtitle) + 1.35rem + 1.35rem);
  position: fixed;
}

#nav-with-filter {
  width: 100%;
  background-color: var(--bg-color-1);
  text-align: right;
  height: calc((var(--text-size-subtitle) + 1.35rem + 1.35rem) + (var(--text-size-subtitle) + 0.35rem + 0.35rem)) !important;
  position: fixed;
}

#filter-header {
  width: 100%;
  background-color: var(--bg-color-1);
  text-align: center;
  height: calc(var(--text-size-subtitle) + 0.35rem + 0.35rem);
}

#header-button, #filter-header-button {
  display: none;
}

.collapse-off {
  display: block;
}

#nav-bar {
  height: 100%;
  border: 1px solid transparent;
  padding-right: 1rem;
}

#filter-bar {
  height: 100%;
  border: 1px solid transparent;
}

#nav-bar > .nav-link {
  margin: 1.35rem;
}

#filter-bar > .nav-link {
  margin: 0 1rem;
}

.nav-link {
  font-size: var(--text-size-normal);
  color: var(--text-color-1);
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
}

.nav-link:hover {
  color: var(--text-color-1-hover);
  text-decoration: dashed;
  cursor: pointer;
  border-bottom: 1px solid var(--text-color-1-hover);
}

@media (max-width: 600px) {
  header {
    height: calc(var(--text-size-subtitle) + 0.35rem + 0.35rem);
  }

  #nav-with-filter {
    height: calc((var(--text-size-subtitle) + 0.35rem + 0.35rem) * 2) !important;
  }

  #filter-header {
    height: calc(var(--text-size-subtitle) + 0.35rem + 0.35rem);
    text-align: right;
  }

  #header-button, #filter-header-button {
    display: inline-block;
    margin: 0.35rem;
    padding: 0;
    background-color: transparent;
    border: none;
    height: var(--text-size-subtitle);
    color: var(--text-color-2);
  }

  #header-button:hover, #filter-header-button:hover {
    color: var(--text-color-2-hover);
    cursor: pointer;
  }

  #header-button-icon, #filter-header-button-icon {
    vertical-align: middle;
    font-size: var(--text-size-subtitle);
  }

  #nav-bar, #filter-bar {
    border: none;
    padding: 0;
    height: auto;
  }

  #nav-bar > .nav-link {
    margin: 0;
  }

  #filter-bar > .nav-link {
    margin: 0;
  }

  .collapse-on {
    display: block;
    position: relative;
    background-color: var(--bg-color-3);
    animation-name: fade-in;
    animation-duration: 0.5s;
  }

  #nav-with-filter > .collapse-on {
    background-color: var(--bg-color-1) !important;
  }

  .collapse-on > a {
    font-size: var(--text-size-normal);
    color: var(--text-color-2);
    display: block;
    text-align: center;
    border: none;
    animation-name: fade-in;
    animation-duration: 0.5s;
    margin: 0;
  }

  .collapse-on > a:hover {
    color: var(--text-color-2-hover);
    border: none;
  }

  .collapse-off {
    display: none;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
