.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section {
  width: 70%;
  text-align: center;
}

.info-section h1 b {
  color: #00ffb3;
}

.info-section p {
  padding: 0 10px;
}

.techs-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 10%;
}

.techs-section .icon-home:nth-child(odd) {
  align-self: flex-start;
}

.techs-section .icon-home:nth-child(even) {
  align-self: flex-end;
}
