.not-found-project {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-project h1 {
  text-align: center;
  width: 70%;
  text-transform: uppercase;
}

.title-project {
  color: #00ffb3;
  margin-bottom: 0;
}

.type-project {
  text-transform: capitalize;
}

.description-cont {
  display: flex;
  max-width: 70%;
}

.description-cont p {
  padding-left: 20px;
}

.info-cont {
  display: flex;
  width: 70%;
}

.info-cont div {
  width: 50%;
}

.info-techs ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.info-techs ul iconify-icon:nth-child(odd) {
  background-color: #fff;
}

.info-techs ul iconify-icon:nth-child(even) {
  background-color: #00ffb3;
}
