@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

/* -- Variables -- */
:root {
  --font-family: 'Roboto', sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #0e0e0e;
  --bg-color-secondary: #000;
  --text-color: #fff;
  --primary-color: #00ffff;
  --secondary-color: #ff0000;
  --primary-shadow: #009999;
  --secondary-shadow: #920000;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/* -- Styles Reset -- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- Navbar -- */
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-secondary);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav h1 {
  color: var(--primary-color);
}

.nav-ul-li-a {
  color: var(--primary-color);
  transition: var(--transition);
}

.nav-ul-li-a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.nav-ul {
  list-style-type: none;
  display: flex;
  gap: 1.9rem;
}

.nav-ul li {
  font-weight: var(--bolder-font);
}

.nav-button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.nav-button-icon {
  color: var(--primary-color);
}

/* -- Filter -- */
.filterbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-secondary);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.filterbar-nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.9rem;
}

/* -- Footer -- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-secondary);
  padding: 1rem 0;
}

.footer-icons {
  display: flex;
}

.footer-icons-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  margin: 0.5rem;
}

.footer-paths {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-paths div {
  display: flex;
  align-items: flex-start;
  width: 50%;
  padding: 0 0.5rem;
}

.footer-paths div h3 {
  padding: 0 0.5rem;
}

.footer-paths div ul {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0;
  border-left: 1px solid #fff;
}

.footer-paths-explore {
  justify-content: flex-end;
}

.footer-paths-project {
  justify-content: flex-start;
}

/* -- Home Page -- */
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 75vh;
  margin: auto;
}

.home-main h1 {
  color: var(--primary-color);
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

.home-main h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.home-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-main-div-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: var(--text-color);
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.home-main-div-icon:hover {
  background-color: var(--secondary-color);
}

.home-main-button {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: var(--transition);
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.home-main-button:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

/* -- Projects Page -- */
.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 70vh;
}

.projects-main h1 {
  color: var(--primary-color);
  margin: 1.5rem 0;
}

/* -- Project Card -- */
.card {
  background-color: #fff;
  color: #000;
  margin: 20px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card img {
  width: 70%;
  height: 30%;
}