@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

/* -- Variables -- */
:root {
  --bg-color-1: #000000;
  --bg-color-2: #0e0e0e;
  --bg-color-3: #000000cc;
  --text-color-1: #00ffff;
  --text-color-1-hover: #00ffbf;
  --text-color-2: #ffffff;
  --text-color-2-hover: #cfcfcf;
  --text-size-big: 4rem;
  --text-size-title: 2.5rem;
  --text-size-subtitle: 2rem;
  --text-size-normal: 1.5rem;
  --text-size-small: 1rem;
  --font-family: 'Roboto', sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-color: #00ffff;
  --secondary-color: #ff0000;
  --primary-shadow: #009999;
  --secondary-shadow: #920000;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

main {
  margin-top: calc(var(--text-size-subtitle) + 1.35rem + 1.35rem);
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.big-button {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 2px solid var(--text-color-1);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color-1);
  text-transform: uppercase;
  font-size: var(--text-size-normal);
  transition: 0.3s;
}

.big-button:hover {
  color: var(--text-color-1-hover);
  border-color: var(--text-color-1-hover);
  cursor: pointer;
  box-shadow: 0 3px 10px var(--text-color-1-hover);
}

/* -- Home Page -- */
#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

#home-main > h1, #home-main > h2 {
  text-transform: uppercase;
  text-wrap: wrap;
  text-align: center;
}

#home-main > h1 {
  color: var(--text-color-1);
  font-size: var(--text-size-big);
  margin-bottom: 0;
}

#home-main > h2 {
  font-size: var(--text-size-subtitle);
}

#home-icons-container {
  display: flex;
  width: 600px;
  justify-content: center;
  flex-wrap: wrap;
}

.home-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-size-subtitle);
  margin: 0.5rem;
  width: calc(var(--text-size-subtitle) + (0.35rem * 4));
  height: calc(var(--text-size-subtitle) + (0.35rem * 4));
  border-radius: 50%;
  background-color: var(--text-color-2);
  box-shadow: 0 3px 10px var(--text-color-1);
}

.home-icons:hover {
  box-shadow: 0 3px 10px var(--text-color-1-hover);
}

/* -- Projects Page -- */
.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 70vh;
}

.projects-main h1 {
  color: var(--primary-color);
  margin: 1.5rem 0;
}

/* -- Project Card -- */
.card {
  background-color: var(--bg-color-secondary);
  margin: 20px;
  width: 70vw;
  height: 30vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

.card img {
  width: 40%;
  height: 100%;
}

.card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  min-height: 100%;
}

.card-icon {
  color: #fff;
  font-size: 2rem;
  margin-right: 1rem;
}

.card-icon:hover {
  color: var(--secondary-color);
}

/* -- Project Page -- */
.project-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 75vh;
  margin: auto;
}

.project-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.project-not-found div {
  padding: 1rem;
}

.project-not-found div a {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  min-width: 10rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: var(--transition);
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.project-not-found div a:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.project-main img {
  width: 70%;
}

.project-main section {
  margin: 0.5rem 0;
  width: 70%;
}

.project-main h1 {
  color: var(--primary-color);
}

.project-main h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
}

.project-information div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.project-information p {
  width: 50%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.project-information ul {
  width: 50%;
  padding: 0 2rem;
  border-left: 2px solid #fff;
}

.project-paths div {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-images img {
  width: 100%;
  margin: 0.5rem 0;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

/* About Me Page */
.about-main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about-main section h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0
}

.about-main section p {
  margin: 1rem 0;
}

.about-main section h2 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.p-contact {
  font-size: 1.5rem;
}
.contact-options {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-options div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.contact-options div span {
  color: var(--primary-color);
}

.p-info {
  padding: 2rem;
  border-radius: 25px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-contact {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  main {
    margin-top: calc(var(--text-size-subtitle) + 0.35rem + 0.35rem);
    max-width: 580px;
    min-width: 360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #home-icons-container {
    width: 300px;
  }
}
