.nav {
  display: flex;
}

.title {
  text-align: left;
  color: #15ffff;
}

.title:hover {
  cursor: pointer;
  color: #79ffff;
  transform: scale(1.3);
}

.links {
  margin-left: 30vw;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: #ffff;
}

.links a:hover {
  cursor: pointer;
  color: #dbdbdb;
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    margin: 0;
  }
}
