.container {
  font-family: 'Syne';
  color: var(--letter);
  margin-bottom: 30px;
}

.container h1 {
  color: var(--letter-style);
  margin-bottom: 20px;
}

.container div {
  display: flex;
  flex-wrap: wrap;
}

.container div p {
  width: 50%;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container div div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container div div a {
  text-decoration: none;
  text-align: center;
  padding: 2.5px 0;
  color: var(--letter);
  margin: 5px 0;
  width: 300px;
  border: 1px solid var(--letter);
  border-radius: 7.5px;
}

.container div div a:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media (max-width: 900px) {
  .container h1 {
    text-align: center;
  }

  .container div p {
    width: 100%;
  }

  .container div div {
    width: 100%;
  }
}
