:root {
  --primary-color: #00ffff;
  --primary-color-hover: #00bfbf;
  --primary-color-hover-bg: #00ffff15;
  --mdb-primary-rgb: 0, 255, 255;
  --background-color: #012f2f;
  --background-color-footer: #001414;
}

/* -- Reglas MDBootstrap -- */
.btn-outline-primary {
  --mdb-btn-color: var(--primary-color);
  --mdb-btn-hover-bg:var(--primary-color-hover-bg);
  --mdb-btn-hover-color: var(--primary-color-hover);
  --mdb-btn-focus-bg: var(--primary-color-hover-bg);
  --mdb-btn-focus-color: var(--primary-color-hover);
  --mdb-btn-outline-border-color: var(--primary-color);
  --mdb-btn-outline-focus-border-color: var(--primary-color-hover);
  --mdb-btn-outline-hover-border-color: var(--primary-color-hover);
  border-color: var(--primary-color);
}

.btn-primary {
  --mdb-btn-bg: var(--primary-color-hover-bg);
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px var(--primary-color);
  --mdb-btn-hover-bg: var(--primary-color);
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: var(--primary-color);
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: var(--primary-color);
  --mdb-btn-active-color: #fff;
  --mdb-btn-box-shadow-state: 0 8px 9px -4px var(--primary-color), 0 4px 18px 0 var(--primary-color-hover);
}

.navbar {
  background-color: #0000007b;
}

.card-header,
.card-footer {
  border: none;
}

/* -- Reglas CSS -- */
body {
  background-color: var(--background-color);
}

#loader-container,
main {
  min-height: calc(100vh - 58px);
}

main {
  margin-top: 58px;
}

.card,
footer {
  background-color: var(--background-color-footer);
}


#home-main {
  background-image: url('/public/371691.webp');
}

#bg-mask-home {
  background-color: #000000b3;
}

#home-title {
  font-size: 4rem;
}

.icon-button-link {
  width: 4rem;
  height: 4rem;
  margin: 10px;
}

.icon-button-icon {
  font-size: 2rem;
}
