body {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "SyneMono";
}

@font-face {
  font-family: "SyneMono";
  src: url("./assets/SyneMono-Regular.ttf");
}
