.container {
  border: 3px solid var(--letter);
  border-radius: 25px;
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  margin: 20px 40px;
}

@media (max-width: 900px) {
  .container {
    margin: 10px 0px;
  }
}

@media (max-width: 1050px) {
  .container {
    margin: 20px 1px;
  }
}

.container img {
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}

.container h3 {
  margin: 5px 0;
  color: var(--letter-style);
}

.container p {
  margin: 0;
  text-align: center;
}

.container h4 {
  margin: 10px 0;
}

.container div {
  width: 100%;
  display: flex;
  justify-content: center !important;
}

.container div span {
  margin: 2px 7.5px;
  color: var(--letter-style);
}

.msg {
  color: red;
  font-size: 10px;
  padding: 0 20px;
  text-align: center;
  margin: 10px 0;
}

.container a {
  text-decoration: none;
  color: var(--letter);
  border: 1px solid var(--letter);
  border-radius: 7.5px;
  padding: 2.5px 0;
  margin: 2.5px 0;
  min-width: 200px;
  text-align: center;
}

.container a:hover {
  transform: scale(1.1);
}
