:root {
  --bg: #cfcfcf;
  --letter: #000000;
  --letter-style: #0e0ae6;
}

[data-theme='dark'] {
  --bg: #000000;
  --letter: #ffffff;
  --letter-style: #15ffff;
}

@font-face {
  font-family: 'Syne';
  src: url('../public/SyneMono-Regular.ttf');
}

body {
  margin: 0;
}
