:root {
  --bg-clear: #ffffff;
  --bg-dark: #000000;
  --letter-clear: #000000;
  --letter-dark: #ffffff;
  --letter-clear-style: #0e0ae6;
  --letter-dark-style: #15ffff;
}

@font-face {
  font-family: 'Syne';
  src: url('../public/SyneMono-Regular.ttf');
}

body {
  margin: 0;
}
