.main {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 70%;
  border: 1px solid blue;
}
