.main {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.main h1 {
  color: var(--letter-dark-style);
  font-family: 'Syne';
}
