.container {
  font-family: 'Syne';
  color: var(--letter);
}

.container h1 {
  color: var(--letter-style);
}

.container div {
  display: flex;
  flex-wrap: wrap;
}

.container div div {
  width: 45%;
  margin: 0 35px 15px 0;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.container div div h3 {
  margin: 10px 0;
  padding: 0;
}

.container div div ul {
  margin: 0 0 0 15px;
  border-left: 2px solid var(--letter);
}

@media (max-width: 900px) {
  .container div div {
    width: 43%;
  }

  .container div div ul {
    margin: 0;
    padding-left: 30px;
  }

  .container div div ul h4 {
    margin: 5px 0;
  }

  .container div div ul p {
    margin: 5px 0;
  }
}

@media (max-width: 500px) {
  .container div div {
    width: 100%;
  }

  .container div div ul {
    margin: 0;
    padding-left: 30px;
  }

  .container div div ul h4 {
    margin: 5px 0;
  }

  .container div div ul p {
    margin: 5px 0;
  }

  .container h1 {
    text-align: center;
  }
}

.container h3 {
  margin: 10px 0;
}

.techs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.techs svg {
  margin: 5px 0;
}