<div id="filter-header">
  <button type="button" id="filter-header-button" title="Filtros">
    <iconify-icon id="filter-header-button-icon" icon="tabler:filter-plus"></iconify-icon>
  </button>
  <nav id="filter-bar" class="collapse-off">
    <a title="Ir a Todos los Proyectos" href="/proyectos" class="nav-link">Todos</a>
    <a title="Ir a Proyectos Full-Stack" href="/proyectos/full-stack" class="nav-link">Full-Stack</a>
    <a title="Ir a Proyectos Back-End" href="/proyectos/back-end" class="nav-link">Back-End</a>
    <a title="Ir a Proyectos Front-End" href="/proyectos/front-end" class="nav-link">Front-End</a>
    <a title="Ir a Otros Proyectos" href="/proyectos/otros" class="nav-link">Otros</a>
  </nav>
</div>
