<nav class="filterbar-nav">
  <ul>
    <li>
      <a title="Ver todos los proyectos" href="/proyectos">Todos</a>
    </li>
    <li>
      <a title="Ver proyectos Full-Stack" href="/proyectos/full-stack">Full-Stack</a>
    </li>
    <li>
      <a title="Ver proyectos Back-End" href="/proyectos/back-end">Back-End</a>
    </li>
    <li>
      <a title="Ver proyectos Front-End" href="/proyectos/front-end">Front-End</a>
    </li>
    <li>
      <a title="Ver otros proyectos" href="/proyectos/otros">Otros</a>
    </li>
  </ul>
</nav>
