<footer class="footer">
  <section class="footer-icons">
    <a
      title="Visitar perfil de GitHub"
      href="https://github.com/GusEngers"
      target="_blank"
      rel="noopener noreferrer"
    >
      <iconify-icon class="footer-icons-icon" icon="mdi:github"></iconify-icon>
    </a>
    <a
      title="Visitar perfil de LinkedIn"
      href="https://www.linkedin.com/in/gustavo-elias-engers-965788223"
      target="_blank"
      rel="noopener noreferrer"
    >
      <iconify-icon class="footer-icons-icon" icon="devicon:linkedin"></iconify-icon>
    </a>
    <a
      title="Visitar perfil de Facebook"
      href="https://fb.com/gustavo.engers.50"
      target="_blank"
      rel="noopener noreferrer"
    >
      <iconify-icon class="footer-icons-icon" icon="logos:facebook"></iconify-icon>
    </a>
  </section>
  <section class="footer-paths">
    <div class="footer-paths-explore">
      <h3>Explora</h3>
      <ul>
        <li><a title="Ver página principal" href="/">Inicio</a></li>
        <li><a title="Ver mis proyectos" href="/proyectos">Proyectos</a></li>
        <li><a title="Ver más sobre mí" href="/sobre_mi">Sobre Mí</a></li>
        <li><a title="Ver formas de contacto" href="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="footer-paths-projects">
      <h3>Proyectos</h3>
      <ul>
        <li><a title="Ver proyectos Full-Stack" href="/proyectos/full-stack">Proyectos Full-Stack</a></li>
        <li><a title="Ver proyectos Back-End" href="/proyectos/back-end">Proyectos Back-End</a></li>
        <li><a title="Ver proyectos Front-End" href="/proyectos/front-end">Proyectos Front-End</a></li>
        <li><a title="Ver otros proyectos" href="/proyectos/otros">Otros Proyectos</a></li>
      </ul>
    </div>
  </section>
</footer>