<footer class="text-center text-white">
  <div class="container p-4">

    <section class="mb-4">
      <a class="btn btn-floating m-1" href="https://github.com/GusEngers" role="button" target="_blank" rel="noopener noreferrer">
        <iconify-icon icon="mdi:github" title="Visita mi Github" style="color: white" class="icon-button-icon"></iconify-icon>
      </a>
      <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/gustavo-elias-engers-965788223" role="button"  target="_blank" rel="noopener noreferrer">
        <iconify-icon icon="devicon:linkedin" title="Visita mi LinkedIn" class="icon-button-icon"></iconify-icon>
      </a>
      <a class="btn btn-floating m-1" href="https://fb.com/gustavo.engers.50" role="button"  target="_blank" rel="noopener noreferrer">
        <iconify-icon icon="logos:facebook" title="Visita mi Facebook" class="icon-button-icon"></iconify-icon>
      </a>
    </section>

    <section>
      <div class="row d-flex justify-content-around">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-primary">Explora</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-white" title="Ir al inicio">Inicio</a>
            </li>
            <li>
              <a href="/projects" class="text-white" title="Ver todos los proyectos">Proyectos</a>
            </li>
            <li>
              <a href="/about" class="text-white" title="Saber más sobre mí">Sobre Mí</a>
            </li>
            <li>
              <a href="/contact" class="text-white" title="Ponte en contacto">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-primary">Proyectos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/projects/full-stack" class="text-white" title="Ver proyectos Full-Stack">Full-Stack</a>
            </li>
            <li>
              <a href="/projects/back-end" class="text-white" title="Ver proyectos Back-End">Back-End</a>
            </li>
            <li>
              <a href="/projects/front-end" class="text-white" title="Ver proyectos Front-End">Front-End</a>
            </li>
            <li>
              <a href="/projects/other" class="text-white" title="Ver otros proyectos">Otros</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-primary">Curriculums</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/cv/full-stack" class="text-white" title="Ver curriculum Full-Stack">Full-Stack</a>
            </li>
            <li>
              <a href="/cv/back-end" class="text-white" title="Ver curriculum Back-End">Back-End</a>
            </li>
            <li>
              <a href="/cv/front-end" class="text-white" title="Ver curriculum Front-End">Front-End</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3 text-primary bg-black bg-opacity-25">
    © <%- new Date().getFullYear() %> Copyright:
    <a class="text-primary" href="mailto:gustavoengers6441@gmail.com" target="_blank" rel="noopener noreferrer" title="Enviar correo">Gustavo Engers</a>
  </div>
</footer>