<header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/sobre-mi">Sobre Mí</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>