<header class="nav-navbar">
    <div class="nav-menu-toggle" id="nav-mobile-menu">
        <span class="nav-menu-bar"></span>
        <span class="nav-menu-bar"></span>
        <span class="nav-menu-bar"></span>
    </div>
    <nav class="nav-items" id="nav-items">
        <a class="nav-item" href="/">Inicio</a>
        <a class="nav-item" href="/proyectos">Proyectos</a>
        <a class="nav-item" href="/sobre-mi">Sobre Mi</a>
        <a class="nav-item" href="/contacto">Contacto</a>
    </nav>
</header>
