<header>
  <button type="button" title="Navegación" id="header-button">
    <iconify-icon id="header-button-icon" icon="charm:menu-hamburger"></iconify-icon>
  </button>
  <nav id="nav-bar" class="collapse-off">
    <a href="/" title="Ir a Inicio" class="nav-link">Inicio</a>
    <a href="/proyectos" title="Ir a Proyectos" class="nav-link">Proyectos</a>
    <a href="/sobre_mi" title="Ir a Sobre Mí" class="nav-link">Sobre Mí</a>
    <a href="/contacto" title="Ir a Contacto" class="nav-link">Contacto</a>
  </nav>
</header>
