<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="nav-link navbar-brand text-primary" href="/">GusEngers</a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a
              data-mdb-dropdown-init
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              aria-expanded="false"
            >
              Proyectos
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-secondary" href="/projects">Todos</a>
              </li>
              <li><hr class="dropdown-divider bg-secondary" /></li>
              <li>
                <a class="dropdown-item text-secondary" href="/projects/full-stack">Full-Stack</a>
              </li>
              <li>
                <a class="dropdown-item text-secondary" href="/projects/back-end">Back-End</a>
              </li>
              <li>
                <a class="dropdown-item text-secondary" href="/projects/front-end">Front-End</a>
              </li>
              <li>
                <a class="dropdown-item text-secondary" href="/projects/other">Otros</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre Mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
