<% if (lang === 'es') { %>
  <%# Navbar en español %>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-primary" href="/es">GusEngers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <%# Links de navegación %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active ml-auto">
            <a class="nav-link" href="/es">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/es/projects">Proyectos</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/es/about_me">Sobre Mí</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/es/contact">Contacto</a>
          </li>

          <%# Botón para cambio de idioma %>
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle text-right btn btn-outline-info" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Idioma
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-light bg-dark" href="/es/<%= path %>">Español</a>
              <a class="dropdown-item text-light bg-dark" href="/pt/<%= path %>">Português</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header> 
<% } else { %>
  <%# Navbar en portugués %>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-primary" href="/pt">GusEngers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <%# Links de navegación %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active ml-auto">
            <a class="nav-link" href="/pt">Início <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/pt/projects">Projetos</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/pt/about_me">Sobre mim</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/es/contact">Contato</a>
          </li>

          <%# Botón para cambio de idioma %>
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle text-right btn btn-outline-info" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Idioma
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-light bg-dark" href="/es/<%= path %>">Espanhol</a>
              <a class="dropdown-item text-light bg-dark" href="/pt/<%= path %>">Português</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header> 
<% } %>
