<nav class="nav">
  <h1>GusEngers</h1>
  <ul class="nav-ul">
    <li><a title="Ver página principal" href="/" class="nav-ul-li-a">Inicio</a></li>
    <li><a title="Ver mis proyectos" href="/proyectos" class="nav-ul-li-a">Proyectos</a></li>
    <li><a title="Ver más sobre mí" href="/sobre_mi" class="nav-ul-li-a">Sobre Mí</a></li>
    <li><a title="Ver formas de contacto" href="/contacto" class="nav-ul-li-a">Contacto</a></li>
  </ul>
  <button type="button" class="nav-button" id="nav-button">
    <iconify-icon icon="charm:menu-hamburger" class="nav-button-icon"></iconify-icon>
  </button>
</nav>