<h1 id="error-not-found-title">¡Lo siento!</h1>
<p class="error-not-found-subtitle"><%= message %></p>
<p class="error-not-found-subtitle">Explora otras opciones:</p>
<div id="error-not-found-paths">
  <a
    title="Ir a Inicio"
    href="/"
    type="button"
    class="big-button"
  >Inicio</a>
  <a
    title="Ir a Proyectos"
    href="/proyectos"
    type="button"
    class="big-button"
  >Proyectos</a>
  <a
    title="Ir a Sobre Mí"
    href="/sobre_mi"
    type="button"
    class="big-button"
  >Sobre Mí</a>
  <a
    title="Ir a Contacto"
    href="/contacto"
    type="button"
    class="big-button"
  >Contacto</a>
</div>
